//Breakpoints
$xsmall: em(360);
$medium: em(768);
$large: em(1024);
$xlarge: em(1600);

$small-down: "only screen and (max-width:#{$xsmall})";
$medium-up: "only screen and (min-width:#{$medium})";
$large-up: "only screen and (min-width:#{$large})";
$xlarge-up: "only screen and (min-width:#{$xlarge})";

$explorer: "all and (-ms-high-contrast: none), (-ms-high-contrast: active)";
$edge: "(-ms-ime-align:auto)";

@mixin xsmall {
	@media #{$small-down} {
		@content;
	}
}
@mixin medium {
	@media #{$medium-up} {
		@content;
	}
}
@mixin large {
	@media #{$large-up} {
		@content;
	}
}
@mixin xlarge {
	@media #{$xlarge-up} {
		@content;
	}
}
@mixin explorer {
	@media #{$explorer} {
		@content;
	}
}
@mixin edge {
	@supports #{$edge} {
		@content;
	}
}
