// 100 - Thin
// 200 - Extra Light (Ultra Light)
// 300 - Light (Book)
// 400 - Normal
// 500 - Medium
// 600 - Semi Bold (Demi Bold)
// 700 - Bold
// 800 - Extra Bold (Ultra Bold)
// 900 - Black (Heavy)
@charset "UTF-8";

$fonts: (
  'Geomanist': "'Geomanist', sans-serif",
  //'montserrat': "'Montserrat', sans-serif",
);

//Mixins de Google Fonts basadas en array $fonts.
//Ex: @include font('raleway','bold');
@mixin font($fontkey, $type: 'regular') {
  @if map-has-key($fonts, $fontkey) {
    $font: map-get($fonts, $fontkey);

    font-family: #{$font};

    @if $type == heavy {
      font-weight: 900;
    } @else if $type == bold {
      font-weight: 700;
    } @else if $type == medium {
      font-weight: 500;
    } @else if $type == light {
      font-weight: 300;
    } @else if $type == italic {
      font-weight: 400;
      font-style: italic;
    } @else {
      font-weight: 400;
    }
  } @else {
    @warn "Unknown `#{$fontkey}` in $fonts.";
  }
}

@font-face{
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist/Geomanist-Regular.eot');
  src: url('../fonts/Geomanist/Geomanist-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Geomanist/Geomanist-Regular.ttf') format('truetype'),
       url('../fonts/Geomanist/Geomanist-Regular.woff2') format('woff2'),
       url('../fonts/Geomanist/Geomanist-Regular.woff') format('woff'),
       url('../fonts/Geomanist/Geomanist-Regular.svg#Geomanist-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist/GeomanistRegular-Italic.eot');
  src: url('../fonts/Geomanist/GeomanistRegular-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Geomanist/GeomanistRegular-Italic.ttf') format('truetype'),
       url('../fonts/Geomanist/GeomanistRegular-Italic.woff2') format('woff2'),
       url('../fonts/Geomanist/GeomanistRegular-Italic.woff') format('woff'),
       url('../fonts/Geomanist/GeomanistRegular-Italic.svg#GeomanistRegular-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist/Geomanist-Light.eot');
  src: url('../fonts/Geomanist/Geomanist-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Geomanist/Geomanist-Light.ttf') format('truetype'),
       url('../fonts/Geomanist/Geomanist-Light.woff2') format('woff2'),
       url('../fonts/Geomanist/Geomanist-Light.woff') format('woff'),
       url('../fonts/Geomanist/Geomanist-Light.svg#Geomanist-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist/Geomanist-Medium.eot');
  src: url('../fonts/Geomanist/Geomanist-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Geomanist/Geomanist-Medium.ttf') format('truetype'),
       url('../fonts/Geomanist/Geomanist-Medium.woff2') format('woff2'),
       url('../fonts/Geomanist/Geomanist-Medium.woff') format('woff'),
       url('../fonts/Geomanist/Geomanist-Medium.svg#Geomanist-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist/Geomanist-Bold.eot');
  src: url('../fonts/Geomanist/Geomanist-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Geomanist/Geomanist-Bold.ttf') format('truetype'),
       url('../fonts/Geomanist/Geomanist-Bold.woff2') format('woff2'),
       url('../fonts/Geomanist/Geomanist-Bold.woff') format('woff'),
       url('../fonts/Geomanist/Geomanist-Bold.svg#Geomanist-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist/Geomanist-Black.eot');
  src: url('../fonts/Geomanist/Geomanist-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Geomanist/Geomanist-Black.ttf') format('truetype'),
       url('../fonts/Geomanist/Geomanist-Black.woff2') format('woff2'),
       url('../fonts/Geomanist/Geomanist-Black.woff') format('woff'),
       url('../fonts/Geomanist/Geomanist-Black.svg#Geomanist-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
