//Centrado vertical: solo cuando el elemento tiene un height definido
@mixin verticalCenter {
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}
//Centrado horizontal: solo cuando el elemento tiene un width definido
@mixin horizontalCenter {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
//Centrado total
@mixin fullCenter {
	@include verticalCenter;
	@include horizontalCenter;
}
//PX to em
@function em($pixels, $context: $browser-context) {
  @return ($pixels / $context) * 1em;
}
//Getter de array de colors. Ex: color: c("corporate");
@function color($key)
{
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
//Aspect-ratio
@mixin aspect-ratio($a,$b) {
	$c: ($b/($a/100))*1%;
	&:after {
		padding-top: $c;
		display: block;
		content: '';
		position: static;
	}
}
@mixin background-image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
@mixin hidden {
	opacity: 0;
	visibility: hidden;
}
@mixin visible {
	opacity: 1;
	visibility: visible;
}

//Wrappers
@mixin bgi {
	@include background-image;
}
@mixin xCenter {
	@include horizontalCenter;
}

@mixin yCenter {
	@include verticalCenter;
}
@function c($color)
{
	@return color($color);
}
.clearfix:after { 
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

// SASS and Data Attribute Selecting and Nesting
// Ex: Use
/* [data-product] {
    color: white;

    @include append-attr("red") {
        color: red;

        @include append-attr('-green') {
            color: green;
        }
    }
    [test], .test {
	    @include append-attr('-one') {
	        color: red;
	    }
	}

	.bar input[min] {
	    @include append-attr('5') {
	        background: yellow;
	    }
	}
}*/
// Ex: Output
/*  [data-product] {
	  color: white;
	}
	[data-product="red"] {
	  color: red;
	}
	[data-product="red-green"] {
	  color: green;
	}
	[test="-one"], .test-one {
	  color: red;
	}

	.bar input[min="5"] {
	  background: yellow;
	}
*/
@mixin append-attr($x) {
    $sel: &;
    $collector: ();

    @for $i from 1 through length($sel) {
        $s: nth($sel, $i);
        $last: nth($s, -1);
        @if str-slice($last, -1) == "]" {
            // if is just the bare attribute with no value, $offset will be -1, otherwise it will be -2
            $offset: -1;
            $current-x: $x;

            @if str-slice($last, -2) == '"]' {
                // this attribute already has a value, so we need to adjust the offset
                $offset: -2;
            } @else {
                // no attribute value, so add the equals and quotes
                $current-x: '="' + $x + '"';
            }
            $last: str-slice($last, 1, $offset - 1) + $current-x + str-slice($last, $offset);
            $collector: append($collector, set-nth($s, -1, $last), comma);
        } @else {
            // following line will append $x to your non-attribute selector
            $collector: append($collector, selector-append($s, $x), comma);
            // the following line will not change your non-attribute selector at all
            //$collector: append($collector, $s, comma);
        }
    }

    @at-root #{$collector} {
        @content;
    }
}
