* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
  -webkit-overflow-scrolling: touch;
  @include font('Geomanist');
}

body,
html {
  position: relative;
  height: 100%;
}

html {
  font-size: (100/414) * 16 * 1vw;
}

body {
  color: c('black');
}
main {
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
.page{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
