.header{
	padding: em(30) em(35) em(10) em(37);
	&__logo{
	    width: em(58, 16);
	    height: em(46, 16);
	}
	&__close{
        top: em(3);
        border-radius: em(25);
        cursor: pointer;
        &--grey{
        	width: em(30);
        	height: em(30);
	        top: em(10);
	    }
    }
}