.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  /*align-items: center;*/
  justify-content: space-between;
  z-index: 99;
  padding: em(45) em(10) em(10) em(25);
  transition: opacity .3s ease-out, visibility .3s;
  &__logo{
    width: em(41, 16);
    height: em(32, 16);
    background: url('../img/icons/logo.svg') center no-repeat;
    background-size: contain;
    a{
      display: block;
    }
    h1{
      text-indent: -9999px;
      display: block;
    }
    &--grey{
      background: url('../img/icons/logo_grey.svg') center no-repeat;
    }
  }
  &__lang-selector{
    transition: opacity .3s ease;
      &.is-empty{
        opacity: 0;
        visibility: hidden;
        display: none;
      }
  }
  &__close{
      position: relative;
      width: em(40);
      height: em(40);
      right: em(15);
      top: em(-3);
      background: url('../img/icons/close.svg') center no-repeat;
      background-size: em(20); 
      transition: opacity .3s ease;
      &.is-empty{
        opacity: 0;
        visibility: hidden;
        display: none;
      }
      &--grey{
        background: url('../img/icons/close_grey.svg') center no-repeat;
        width: em(20);
        height: em(20);
        top: em(5);
      }
  }
  &--is-hidden{
    opacity: 0;
    visibility: hidden;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
