.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .2s linear,visibility .2s linear;
  &__box{
    position: relative;
    width: 120px;
    height: 120px;
  }
  span{
    position: relative;
    display: block;
    width: 120px;
    height: 120px;
    z-index: 1;
  }
  &__logo{
    img{
      opacity: 0;
    }
    svg{
      position: absolute;
      top: 0;
      left: 0;
      width: 120px;
      height: 120px;
    }
  }
  &__progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background-color: #fff;
    opacity: .6;
    transition: transform .6s linear .2s;
    z-index: 1;
  }
  &__background{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 114px;
    height: 114px;
    opacity: 0;
    transition: opacity .3s ease .2s;
  }
  &.is-loading{
    .loader__progress{
      transform: translateX(100%);
    }
    .loader__background{
      opacity: 1;
      background-color: #d0cfd0;
    }
  }
  &.is-loaded{
    opacity: 0;
    visibility: hidden;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
