.lang-selector {
  position: relative;
  padding-right: em(35);
  display: flex;
  flex-direction: column;
  margin-top: em(10);
  transition: opacity .3s ease;
  span{
  	position: absolute;
  	top: em(2);
  	right: 0;
  	width: em(35);
  	height: em(9);
  	background: url('../img/icons/arrow.svg') center no-repeat;
  	background-size: em(15) em(9);
  	transform-origin: center;
  	transform: rotate(180deg);
  	transition: transform .3s ease-in;
  }
  &__option{
  	@include font('Geomanist', 'medium');
  	font-size: em(16);
  	line-height: em(20);
  	color: c('white');
  	letter-spacing: em(.4);
  	display: none;
    min-width: em(30, 16);
    &:hover{
      opacity: .8;
    }
  	&--is-active{
  		display: block;
      opacity: 1;
  	}
  }
  &--is-open{
  	span{
  		transform: rotate(0deg);
  	}
  }
  &.is-empty{
    opacity: 0;
    visibility: hidden;
  }
  &.is-open{
    span{
      transform: rotate(0deg);
    }
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
