.chapter{
	&__content{
  		padding: 0 em(55) em(70);
  	}
  	&__title{
  		font-size: em(34);
  		line-height: em(44, 34);
      padding-bottom: em(7, 34);
  		text-shadow: 5px 9px 18px rgba(0, 0, 1, 0.18);
      span{
        display: block;
      }
  	}
    &__title-separator-top{
      &:before{
        width: em(245, 34);
      }
    }
    &__separator-icon{
      width: em(245, 16);
      &:before, &:after{
        width: em(90);
      }
      &--water{
        img{
          width: em(40);
        }
      }
    }
    .chapter__logos{
      margin: 0 auto;
    }
}
.chapter[data-chapter] {
  	@include append-attr("0") {
        background-image: url('../img/bg-sostenibilidad-stories-01.jpg');
        .chapter__content{
          padding: 0 em(200) em(70);
        }
        .logo-blue{
          width: em(122);
          margin-bottom: em(38);
        }
    }
    @include append-attr("1") {
        background-image: url('../img/bg-sostenibilidad-stories-02.jpg');
        .chapter__content{
          padding: em(80) em(287) 0;
        }
        .chapter__title{
          font-size: em(35);
          line-height: em(44, 35);
          padding-bottom: 0;
        }
        .chapter__logos{
          max-width: em(345);
          padding: 0;
          img{
            width: 40%;
          }
        }
    }
    @include append-attr("2") {
        background-image: url('../img/bg-sostenibilidad-stories-03.jpg');
        .chapter__title{
          font-size: em(35);
          line-height: em(44, 35);
        }
        .chapter__content{
          padding-top: em(100);
          padding-bottom: 0;
        }
        .chapter__logos{
          max-width: em(355);
          padding: em(10) 0 0;
          img{
            padding: 0 em(25) em(12);
          }
        }
    }
    @include append-attr("3") {
        background-image: url('../img/bg-sostenibilidad-stories-04.jpg');
        .chapter__content{
          padding: 0 em(280) 0;
        }
        .chapter__title-separator-top{
          padding: em(34, 34) 0 0;
        }
    }
    @include append-attr("4") {
        background-image: url('../img/bg-sostenibilidad-stories-05.jpg');
        .chapter__content{
          padding: 0 em(300);
        }
        .chapter__title{
          padding-bottom: 0;
          span{
            display: block;
          }
        }
        .chapter__title-separator-top{
          padding-top: em(24, 34);
        }
    }
}