.chapter{
  &__content{
		padding: 0 em(55);
    transition: opacity .2s ease;
    &.is-empty{
      opacity: 0;
      visibility: hidden;
    }
	}
	&__title{
		position: relative;
		font-size: em(25);
		// line-height: em(19);
    line-height: em(30.5, 25);
		text-shadow: 5px 9px 18px rgba(0, 0, 1, 0.18);
		padding-bottom: em(3);
	}
	&__title-separator-top{
		padding-top: em(16);
		&:before{
  		content: '';
  		display: block;
  		position: absolute;
  		top: 0;
  		left: 0;
  		right: 0;
  		width: em(214, 25);
  		height: em(1, 25);
  		margin: 0 auto;
  		background-color: c('white');
	  }
	}
	&__separator-icon{
		position: relative;
		width: em(214, 16);
		margin: 0 auto;
    &:before, &:after{
      content: '';
      display: inline-block;
      position: absolute;
      width: em(78);
      height: em(1, 16);
      top: 50%;
      margin-top: em(2, 16);
      background-color: c('white');
    }
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
    }
		&--water{
			img{
				width: em(35);
			}
		}
    &--origin{
      img{
        width: em(45);
      }
    }
    &--act{
      img{
        width: em(35);
      }
    }
    &--support{
      img{
        width: em(55);
      }
    }
    &--protect{
      img{
        width: em(45);
      }
    }
	}
  &__logos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: em(10) em(25) 0;
    img{
      width: 46%;
    }
  }
}
.chapter[data-chapter] {
  	@include bgi;
  	@include append-attr("0") {
        background-image: url('../img/bg-sostenibilidad-stories-01-mobile.jpg');
        .chapter__content{
          padding-top: em(20);
        }
        .logo-blue{
        	width: em(132);
        	margin-bottom: em(35);
        }
    }
    @include append-attr("1") {
        background-image: url('../img/bg-sostenibilidad-stories-02-mobile.jpg');
        .chapter__title{
          font-size: em(26);
          line-height: em(30.5, 27);
        }
    }
    @include append-attr("2") {
        background-image: url('../img/bg-sostenibilidad-stories-03-mobile.jpg');
        .chapter__content{
          padding: 0 em(60);
        }
        .chapter__logos{
          justify-content: space-between;
          img{
            width: 50%;
            padding: 0 em(15) em(12);
          }
          .logo-bio{
            width: 100%;
            padding: 0;
          }
        }
    }
    @include append-attr("3") {
        background-image: url('../img/bg-sostenibilidad-stories-04-mobile.jpg');
        .logo-actuamos{
          width: em(228);
          margin-bottom: em(15);
        }
        .chapter__content{
          padding: 0 em(50);
        }
        .chapter__title-separator-top{
          padding-top: em(24);
        }
    }
    @include append-attr("4") {
        background-image: url('../img/bg-sostenibilidad-stories-05-mobile.jpg');
        .chapter__title{
          padding-bottom: em(5);
        }
        .chapter__title-separator-top{
          padding-top: em(24);
        }
    }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
