.legal{
	.legal-container{
		padding: em(200) em(250) 0;
	}
	&__content{
		padding-bottom: em(170);
		h1{
			font-size: em(36);
			line-height: em(38, 36);
			margin-bottom: em(45, 36);
		}
		h5{
		  font-size: em(15);
	      margin-top: em(10, 15);
	      margin-bottom: em(10, 15);
	    }
		p{
			margin-bottom: em(20, 15);
		}
	}
	&__footer{
        padding: em(15) em(100) em(70);
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        .footer-nav{
            order: inherit;
            display: block;
            width: auto;
            &:before, &:after{
                content: '|';
                display: inline-block;
                color: c('greyNav');
            }
            &:before{
                margin-right: em(15);
            }
            &:after{
                margin-left: em(15);
            }
            a{
                padding: 0 em(15);
            }
        }
    }
}