.legal {
  .legal-container{
    padding: em(120) em(35) 0;
  }
  &__content{
    padding-bottom: em(50);
    h1{
      font-size: em(25);
      line-height: em(38, 25);
      margin-bottom: em(30, 25);
      color: c('blackMatt');
      @include font('Geomanist', 'heavy');
      text-align: center;
    }
    h5{
      @include font('Geomanist', 'medium');
      font-size: em(15);
      margin-top: em(10, 18);
      margin-bottom: em(10, 18);
    }
    p{
      font-size: em(15);
      line-height: em(27, 15);
      margin-bottom: em(15, 15);
      color: c('greyText');
    }
    a{
      color: c('azul-fv');
      @include font('Geomanist', 'bold');
      transition: opacity .3s ease;
      &:hover{
        opacity: .8;
      }
    }
  }
  &__footer{
    padding: em(15) em(15) em(60);
    margin: 0 em(15);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: em(12);
    line-height: em(20, 12);
    letter-spacing: em(.3);
    border-top: 2px solid #dbdbdb;
    .footer-nav{
      order: -1;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
    p{
      color: c('greyNav');
    }
    a{
      @include font('Geomanist', 'medium');
      color: c('greyNav');
    }
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
