.info{
	&__header{
    	margin-top: em(300);
    	padding: 0 em(225) em(65);
    	.panel-image{
    		margin-top: em(-285);
            padding: 0 em(110);
    	}
    }
    &__panel{
    	padding: 0 em(125) em(285);
    	&:before{
    		margin-top: em(-115);
    	}
    	&:after{
    		margin-top: em(-115);
		    height: 94%;
		    top: 3%;
    	}
        img{
            margin-top: em(-60);
        }
    	.title{
    		font-size: em(37);
    		line-height: em(37, 37);
    		margin-bottom: em(30, 37);
            &--sm{
                padding: 0 em(80, 37);
            }
    	}
    	.subtitle{
    		@include font('Geomanist', 'light');
    		font-size: em(19);
    		line-height: em(29, 19);
    		margin-bottom: em(35, 19);
    	}
    }
    &__content{
    	padding: 0 em(220) em(100);
        h2{
            font-size: em(27);
            line-height: em(35, 27);
            &.outer-title{
                padding: 0 em(60);
            }
        }
        h3{
            &.outer-title{
                padding: 0 em(60);
            }
        }
    	p{
    		padding: 0 em(30, 15);
            font-size: em(15);
            line-height: em(27, 15);
    	}
        img{
            margin-bottom: em(45);
        }
        a{
            transition: opacity .3 ease-in;
            &:hover{
                opacity: .7;
            }
        }
        .logo-ministerio{
            margin-bottom: 0;
        }
    }
    &__list{
        margin: em(15) em(115) em(45);
    }
    &__image{
        &--medium{
            margin: 0 auto;
            width: 58%;
        }
    }
    &__btn{
        width: em(415);
        left: auto;
        margin: em(20) auto 0;
        padding: 0;
        background: none;
        a{
            border: none;
            cursor: pointer;
            transition: all .3s ease-in;
            &:hover{
                background-color: rgba(31, 41, 80, .95);
                &:after{
                    transition: all .2s ease-in;
                    margin-left: em(20, 15);
                }
            }
        }
    }
    &__footer{
        padding: em(15) em(100) em(70);
        margin: 0 em(260, 12);
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        .footer-nav{
            order: inherit;
            display: block;
            width: auto;
            &:before, &:after{
                content: '|';
                display: inline-block;
                color: c('greyNav');
            }
            &:before{
                margin-right: em(15);
            }
            &:after{
                margin-left: em(15);
            }
            a{
                padding: 0 em(15);
            }
        }
    }
}