.info {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 98;
    transform: translateY(0);
    transition: transform .4s ease-in, visibility 0s, opacity .3s ease;
    &__header{
    	background-color: c('white');
    	margin-top: em(175);
    	padding: 0 em(15) em(40);
        text-align: center;
    	.panel-image{
    		position: relative;
    		padding: 0 em(15);
    		margin-top: em(-100);
    	}
    }
    &__panel{
    	position: relative;
    	color: c('white');
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;
    	padding: em(15) em(32) em(100);
    	z-index: 0;
    	text-align: center;
    	img{
    		width: em(55);
    	}
    	.title{
    		font-size: em(23);
    		line-height: em(23, 23);
    		@include font('Geomanist', 'medium');
    		margin: em(12, 23) 0 em(30, 23);
            &--sm{
                padding: 0 em(16, 23);
            }
    	}
    	.subtitle{
    		@include font('Geomanist', 'light');
    		font-size: em(16);
    		line-height: em(24, 16);
    		margin-bottom: em(35, 16);
    	}
    	&:before{
    		content: '';
    		display: block;
    		position: absolute;
    		top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;
    		background-color: c('azul-fv');
    		z-index: -1;
    		margin-top: em(-30);
    		border-radius: em(15);
    	}
    	&:after{
    		content: '';
    		display: block;
    		position: absolute;
    		width: 96%;
    		height: 95%;
    		top: 2%;
    		left: 2%;
    		margin: em(-30) auto auto;
    		border-radius: em(15);
    		border: 1px solid rgba( 255, 255, 255, .2);
    	}

    }
    &__content{
    	background-color: c('white');
    	padding: 0 em(30) em(30);
    	color: c('greyText');
    	text-align: center;
    	h2{
    		font-size: em(27);
    		@include font('Geomanist', 'bold');
    		margin: em(10, 27) 0 em(30, 27);
    		color: c('blackMatt');
    	}
        h3{
            @include font('Geomanist', 'bold');
            font-size: em(23);
            line-height: em(35, 23);
            margin: em(10, 23) 0 em(30, 23);
            color: c('blackMatt');
        }
    	p{
    		font-size: em(16);
    		line-height: em(27, 16);
    		margin-bottom: em(35);
    		&.last{
    			margin-bottom: em(60, 16);
    		}
    	}
    	img{
    		margin-bottom: em(25);
    	}
        a{
            @include font('Geomanist', 'bold');
            color: c('azul-fv');
        }
        .logo-anse, .logo-red-cambera{
            width: em(265);
            margin-bottom: em(15);
        }
        .logo-ministerio{
            width: em(310);
        }
    }
    &__list{
        h4{
            @include font('Geomanist', 'bold');
            margin-bottom: em(25);
        }
        p{
            @include font('Geomanist', 'bold');
            text-align: left;
            padding: 0 0 0 em(40) !important;
            background: url('../img/bullet.svg') no-repeat;
            background-size: em(30);
            background-position: top left;
            font-style: italic;
            margin-bottom: em(25);
        }
    }
    &__btn{
    	width: 100vw;
    	position: relative;
    	left: em(-30);
    	padding: em(13);
    	text-align: center;
    	margin-top: em(20);
    	a{
    		position: relative;
    		display: block;
            background-color: c('azul-fv');
    		@include font('Geomanist', 'bold');
    		font-size: em(15);
    		line-height: em(15, 15);
    		color: c('white');
    		text-transform: uppercase;
    		padding: em(37, 15) 0 em(36, 15);
    		&:after{
    			content: '';
    			display: inline-block;
    			width: em(15, 15);
    			height: em(9, 15);
    			background: url('../img/icons/arrow.svg') center no-repeat;
    			background-size: contain;
    			transform: rotate(90deg);
    			margin-left: em(13, 15);
    		}
    	}
    }
    &__logos{
        margin-top: 0;
        margin-bottom: em(60);
        a{
            display: block;
        }
    }
    &__footer{
    	padding: em(15) em(15) em(60);
    	margin: 0 em(15);
    	display: flex;
    	flex-wrap: wrap;
    	align-items: center;
    	justify-content: space-evenly;
    	font-size: em(12);
    	line-height: em(20, 12);
    	letter-spacing: em(.3);
    	border-top: 2px solid #dbdbdb;
    	.footer-nav{
    		order: -1;
    		width: 100%;
    		display: flex;
    		justify-content: space-evenly;
    	}
    	p{
    		color: c('greyNav');
    	}
    	a{
    		@include font('Geomanist', 'medium');
    		color: c('greyNav');
    	}
    }
    &.is-empty{
        opacity: 0;
        visibility: hidden;
        transform: translateY(em(300));
    }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
