* {
}

.paragraph {
}
.link {
}
span {
}

strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.title {
  @include font('Geomanist');
  font-size: em(27);
  line-height: em(30);
  color: c('white');
  &--black{
    color: c('black');
  }
  strong{
    @include font('Geomanist', 'bold');
  }
}
.subtitle {}
.text {
  p {}
  h2 {}
  a {}
  ul {}
  ol {}
  li {}
  blockquote {
    padding: 0 em(30);
    margin-top: em(-30);
    margin-bottom: em(30);
    p {
      margin-bottom: 0;
      font-size: em(20);
      letter-spacing: em(-0.3, 20);
      line-height: 1.45;
      &:before {
        content: '“';
        margin-right: em(-4, 20);
      }
      &:after {
        content: '”';
        margin-left: em(-4, 20);
      }
    }
  }
  img {
    max-width: 100%;
  }
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
