.pop-up {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &__panel{
    position: relative;
    margin: em(20) em(35) 0;
    background-color: c('white');
    box-shadow: 0 4px 24px #000001;
    padding: em(135) em(50) em(45);
    text-align: center;

  }
  &__logo{
    width: em(220);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: em(-95);
  }
  &__text{
    p{
      color: #4b4b4b;
      font-size: em(17);
      line-height: em(24);
      margin-bottom: em(25);
    }
  }
  &__close{
    position: absolute;
    width: em(28);
    height: em(28);
    top: em(20);
    right: em(20);
    cursor: pointer;
    background-image: url('../img/icons/close_black.svg');
    background-size: contain;
    background-position: center; 
  }
  &--is-hidden{
    opacity: 0;
    visibility: hidden;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
