.story{
	.story-button{
	    width: em(57);
	    height: em(57);
	    position: absolute;
	    top: 48%;
	    transform: translateY(-50%);
	    background-color: rgba(255, 255, 255, .1);
	    background-image: url('../img/icons/arrow.svg');
	    background-position: center em(20);
	    background-repeat: no-repeat;
	    border-radius: em(25);
	    background-size: em(22) em(14);
	    cursor: pointer;
	    transition: all .2s ease-in;
	    &--prev{
	      left: em(14);
	      transform: rotate(-90deg);
	    }
	    &--next{
	      right: em(14);
	      transform: rotate(90deg);
	    }
	    &:hover{
	    	background-color: rgba(255, 255, 255, .3);
	    }
	}
	&__more-info{
		padding-bottom: em(40, 20);
		a{
	      @include font('Geomanist', 'italic');
	      color: c('white');
	      font-size: em(20);
	  	}
	}
	.story-pagination{
		max-width: em(400);
		margin: 0 auto;
		top: em(40);
	}
	&__more-info{
		cursor: pointer;
		&:hover{
			&:before{
				margin-bottom: em(10);
			}
		}
	}
}