.story {
  .story-container{
    width: 100%;
    height: 100%;
  }
  .story-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
  }
  .story-slide{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background: c('black');
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
  }
  .story-button{
    width: 40vw;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 98;
    &--prev{
      left: 0;
    }
    &--next{
      right: 0;
    }
  }
  .story-pagination{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 em(15);
    height: 25px;
    z-index: 1;
    &__chapter{
      position: relative;
      width: 18%;
      height: 3px;
      border-radius: 2px;
      background-color: rgba(255,255,255,.5);
      box-shadow: 0 4px 25px 0 rgba(0,0,0,.3);
      &:before{
        content: "";
        position: absolute;
        border-radius: 2px;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform: scaleX(0);
        background-color: #fff;
        transform-origin: left;
      }
      &.is-completed{
        &:before{
          transform: scaleX(1);
          transition: transform .4s linear;// TO DO: Time transition slides
        }
      }
    }
  }
  &__footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: opacity .3s ease;
    &.is-empty{
      opacity: 0;
      visibility: hidden;
    }
  }
  &__more-info{
    position: relative;
    padding: em(10) 0 em(38);
    text-align: center;
    padding-top: em(20);
    z-index: 99;
    a{
      @include font('Geomanist', 'italic');
      color: c('white');
      font-size: em(21);
      line-height: em(26);
    }
    &:before{
      content: '';
      display: block;
      width: em(19);
      height: em(10);
      margin: 0 auto;
      background: url('../img/icons/arrow.svg') center top no-repeat;
      background-size: contain;
      transition: margin .3s ease-in;
    }
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
